https://download.pytorch.org/whl/cpu/torch-1.13.1%2Bcpu-cp38-cp38-linux_x86_64.whl
pytorch-lightning==1.7.6
torchmetrics==0.11.4
Pillow
torchvision==0.14.1
hydra-core
hydra_colorlog
dvc
dvc[gdrive]
scipy
fastapi==0.100.0
uvicorn==0.22.0
python-multipart
onnxruntime
